# Seattle Salary Breakdown

In [1]:
# Data sourced from -- https://data.seattle.gov/
# URL - https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd

## Imports

##### Import dependencies (Python Libraries)

In [6]:
import pandas as pd

##### Read in the dataset

In [10]:
wages = pd.read_csv('Seattle_Wages_Data.csv')

## Descriptive Stats

##### Run basics descriptive statistics -- use the following methods:
##### 1. shape, 2. describe, 3. info, 4. columns

In [15]:
wages.shape

(12346, 5)

In [13]:
wages.describe()

       Hourly Rate
count  12346.000000
mean      38.974306
std       13.724498
min        5.110000
25%       28.830000
50%       38.850000
75%       48.430000
max      166.910000

In [16]:
wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12346 entries, 0 to 12345
Data columns (total 5 columns):
Department      12346 non-null object
Last Name       12346 non-null object
First Name      12346 non-null object
Job Title       12346 non-null object
Hourly Rate     12346 non-null float64
dtypes: float64(1), object(4)
memory usage: 482.3+ KB

In [18]:
wages.columns

Index(['Department', 'Last Name', 'First Name', 'Job Title', 'Hourly Rate '], dtype='object')

##### Let's visualize our dataset -- use the following methods:
##### 1. head, 2. tail

In [19]:
wages.head()

,Department,Last Name,First Name,Job Title,Hourly Rate
0,Arts and Culture,Boas-Du Pree,Sandra,Admin Staff Asst,34.48
1,Arts and Culture,Bolisay,Ronald,Publc Relations Spec,29.09
2,Arts and Culture,Chai,Grace,Cooperative Intern *,16.12
3,Arts and Culture,Childers,Calandra,"StratAdvsr3,Exempt",48.71
4,Arts and Culture,Crooks,Jennifer,Arts Prgm Spec,35.93

In [20]:
wages.tail()

,Department,Last Name,First Name,Job Title,Hourly Rate
12341,Seattle Public Utilities,Zemmerman,Ahanu,Maint Laborer,25.39
12342,Seattle Public Utilities,Zoellmer,Adam,"Trng&Ed Coord,Sr",37.94
12343,Seattle Public Utilities,Zollman,Karen,"Civil Engrng Spec,Sr",48.84
12344,Seattle Public Utilities,Zurowski,Allan,Carpenter,32.88
12345,Seattle Public Utilities,Zuver,Glen,"Constr&Maint Equip Op,Sr",34.75

## Indexing

### Question -- Who earns the most per hour?

##### Index for the Hour Rate column and find the max. Save the output to a variable.

In [27]:
highest_wage = wages['Hourly Rate '].max()

In [28]:
highest_wage

166.91

In [30]:
wages[wages['Hourly Rate '] == highest_wage]

,Department,Last Name,First Name,Job Title,Hourly Rate
1879,City Light,Weis,Larry,City Light General Mgr&CEO,166.91

##### Let's try boolean indexing

In [36]:
City_Light_employees = wages[wages['Department'] == 'City Light']

In [37]:
City_Light_employees

,Department,Last Name,First Name,Job Title,Hourly Rate
117,City Light,Abbott,Jeremy,Cblspl-Net Area,44.92
118,City Light,Abel,Deborah,Maint Laborer,25.39
119,City Light,Ablow,Elizabeth,"StratAdvsr2,Utils-BU",49.54
120,City Light,Abraham,Jay,Hydroelec Maint Mach,42.54
121,City Light,Abraham,John,"Sfty&Hlth Spec,Sr",45.87
122,City Light,Abt,John,Cblspl-Net Area,44.92
123,City Light,Adams,Courtney,"Capital Prjts Coord,Asst *",37.16
124,City Light,Adams,Jason,"Mgmt Systs Anlyst,Sr",45.11
125,City Light,Adams,Shelly,"Envrnmtl Anlyst,Sr",48.44
126,City Light,Adams,Solomon,Lnwkr,46.27
127,City Light,Adkinson,Kevin,Hydroelec Maint Mach,44.31
128,City Light,Adler,Susan,"Elecl Engrng Spec,Sr",48.84
129,City Light,Ahn,Jeanie,Economist,41.57
130,City Light,Airhart,Jami,Cust Svc Rep,26.75
131,City Light,Albergine,David,"StratAdvsr2,Utils-BU",55.55
132,City Light,Aldridge,Cynthia,"Camp Svc Aide,Sr",21.49
133,City Light,Aldridge,Joey,Pwr Structs Mechanic,39.18
134,City Light,Alexander,Brynne,Student Engr Intern *,21.03
135,City Light,Alexander,James,Line C CC,52.06
136,City Light,Alexander,Katrina,"Elecl Engr,Assoc",45.92
137,City Light,Alexander,Richard,Lnwkr,46.27
138,City Light,Ali,Mohamed,"Elecl Engrng Spec,Sr",45.36
139,City Light,Aliment,Dean,Strucl Iron Wkr,44.92
140,City Light,Allen,Cecil,Arboriculturist,34.48
141,City Light,Allen,Ronald,Lnwkr,46.27
142,City Light,Allen,Shane,Lnwkr-Asg Pwrline Clearance,49.65
143,City Light,Allen III,Grant,Elecl Constr&Maint Supv-BU,59.75
144,City Light,Allie,Dora,"Manager1,P&FM-BU",53.64
145,City Light,Allie,Jacob,Admin Spec I-BU *,22.77
146,City Light,Alpers,Hagen,"MatSup,Elec-Asg Cs &/or Cdt",33.90
...,...,...,...,...,...
1937,City Light,Yamamoto,Kaitlyn,Cooperative Intern *,16.12
1938,City Light,Yanase,Mie,Res&Eval Asst-BU,31.93
1939,City Light,Yang Abreu,Joanna,Student Engr Intern *,21.03
1940,City Light,Ybarra,Arthur,Lnwkr,46.27
1941,City Light,Yi,Michael,Cblspl-Asg Locator,44.92
1942,City Light,Yi,William,Mgmt Systs Anlyst *,35.16
1943,City Light,Yoder-Williams,Mary,"StratAdvsr2,Utils-BU",50.51
1944,City Light,Yogeswaran,Nadarajah,Laborer-Inserting Machine Op,22.95
1945,City Light,Yoo,Ha,Cooperative Intern *,16.12
1946,City Light,York,Robert,Cblspl CC-Net Area,50.54
1947,City Light,Yousos,Saynop,Admin Spec II-BU,26.45
1948,City Light,Yslas,Frank,Elctn-Con,44.92
1949,City Light,Zadehgol,Hamed,"Elecl PwrSystsEngr,Prin-Mrt",67.54
1950,City Light,Zagata,David,Meter Reader *,22.23
1951,City Light,Zakai,Yochanan,"Pwr Anlyst,Sr",45.36
1952,City Light,Zaren,Anthony,Hydroelec Maint Mach,44.31
1953,City Light,Zartman,Albert,Maint Laborer,25.39
1954,City Light,Zegers,Thomas,Lnwkr,46.27
1955,City Light,Zhang,Jie,"Pwr Anlyst,Asst *",32.63
1956,City Light,Zheng,Griffin,Elecl Pwr Systs Engr,58.35
1957,City Light,Zhong,Kami,"Elecl Engr,Asst II",37.41
1958,City Light,Zhu,Yiying,Muni Government Intern *,19.76
1959,City Light,Zhuang,Liman,"Elecl PwrSystsEngr,Prin-Mrt",65.21
1960,City Light,Ziemianek,Bernard,"Electric Util Exec 3,Dir",109.58
1961,City Light,Zimmerly,Elizabeth,"Manager2,Utils-BU",49.47
1962,City Light,Zimmerman,Daniel,Hydro Maint Wkr I-Gen,27.12
1963,City Light,Zimmerman,Travis,Hydro Maint Wkr I-Gen,27.12
1964,City Light,Zimmermann,Elliott,"Enrgy Mgmt Anlyst,Sr",51.65
1965,City Light,Zitkovich,Andrew,Rights-Of-Way Maint Wkr,29.88
1966,City Light,Zook,Katie,"Mgmt Systs Anlyst,Asst",31.93

### Question -- How many people work for City Light?

##### Use boolean indexing to find all employees that work for City Light. Save that output (dataframe) to a variable called 'City_Light_employees'.

In [39]:
City_Light_employees

,Department,Last Name,First Name,Job Title,Hourly Rate
117,City Light,Abbott,Jeremy,Cblspl-Net Area,44.92
118,City Light,Abel,Deborah,Maint Laborer,25.39
119,City Light,Ablow,Elizabeth,"StratAdvsr2,Utils-BU",49.54
120,City Light,Abraham,Jay,Hydroelec Maint Mach,42.54
121,City Light,Abraham,John,"Sfty&Hlth Spec,Sr",45.87
122,City Light,Abt,John,Cblspl-Net Area,44.92
123,City Light,Adams,Courtney,"Capital Prjts Coord,Asst *",37.16
124,City Light,Adams,Jason,"Mgmt Systs Anlyst,Sr",45.11
125,City Light,Adams,Shelly,"Envrnmtl Anlyst,Sr",48.44
126,City Light,Adams,Solomon,Lnwkr,46.27
127,City Light,Adkinson,Kevin,Hydroelec Maint Mach,44.31
128,City Light,Adler,Susan,"Elecl Engrng Spec,Sr",48.84
129,City Light,Ahn,Jeanie,Economist,41.57
130,City Light,Airhart,Jami,Cust Svc Rep,26.75
131,City Light,Albergine,David,"StratAdvsr2,Utils-BU",55.55
132,City Light,Aldridge,Cynthia,"Camp Svc Aide,Sr",21.49
133,City Light,Aldridge,Joey,Pwr Structs Mechanic,39.18
134,City Light,Alexander,Brynne,Student Engr Intern *,21.03
135,City Light,Alexander,James,Line C CC,52.06
136,City Light,Alexander,Katrina,"Elecl Engr,Assoc",45.92
137,City Light,Alexander,Richard,Lnwkr,46.27
138,City Light,Ali,Mohamed,"Elecl Engrng Spec,Sr",45.36
139,City Light,Aliment,Dean,Strucl Iron Wkr,44.92
140,City Light,Allen,Cecil,Arboriculturist,34.48
141,City Light,Allen,Ronald,Lnwkr,46.27
142,City Light,Allen,Shane,Lnwkr-Asg Pwrline Clearance,49.65
143,City Light,Allen III,Grant,Elecl Constr&Maint Supv-BU,59.75
144,City Light,Allie,Dora,"Manager1,P&FM-BU",53.64
145,City Light,Allie,Jacob,Admin Spec I-BU *,22.77
146,City Light,Alpers,Hagen,"MatSup,Elec-Asg Cs &/or Cdt",33.90
...,...,...,...,...,...
1937,City Light,Yamamoto,Kaitlyn,Cooperative Intern *,16.12
1938,City Light,Yanase,Mie,Res&Eval Asst-BU,31.93
1939,City Light,Yang Abreu,Joanna,Student Engr Intern *,21.03
1940,City Light,Ybarra,Arthur,Lnwkr,46.27
1941,City Light,Yi,Michael,Cblspl-Asg Locator,44.92
1942,City Light,Yi,William,Mgmt Systs Anlyst *,35.16
1943,City Light,Yoder-Williams,Mary,"StratAdvsr2,Utils-BU",50.51
1944,City Light,Yogeswaran,Nadarajah,Laborer-Inserting Machine Op,22.95
1945,City Light,Yoo,Ha,Cooperative Intern *,16.12
1946,City Light,York,Robert,Cblspl CC-Net Area,50.54
1947,City Light,Yousos,Saynop,Admin Spec II-BU,26.45
1948,City Light,Yslas,Frank,Elctn-Con,44.92
1949,City Light,Zadehgol,Hamed,"Elecl PwrSystsEngr,Prin-Mrt",67.54
1950,City Light,Zagata,David,Meter Reader *,22.23
1951,City Light,Zakai,Yochanan,"Pwr Anlyst,Sr",45.36
1952,City Light,Zaren,Anthony,Hydroelec Maint Mach,44.31
1953,City Light,Zartman,Albert,Maint Laborer,25.39
1954,City Light,Zegers,Thomas,Lnwkr,46.27
1955,City Light,Zhang,Jie,"Pwr Anlyst,Asst *",32.63
1956,City Light,Zheng,Griffin,Elecl Pwr Systs Engr,58.35
1957,City Light,Zhong,Kami,"Elecl Engr,Asst II",37.41
1958,City Light,Zhu,Yiying,Muni Government Intern *,19.76
1959,City Light,Zhuang,Liman,"Elecl PwrSystsEngr,Prin-Mrt",65.21
1960,City Light,Ziemianek,Bernard,"Electric Util Exec 3,Dir",109.58
1961,City Light,Zimmerly,Elizabeth,"Manager2,Utils-BU",49.47
1962,City Light,Zimmerman,Daniel,Hydro Maint Wkr I-Gen,27.12
1963,City Light,Zimmerman,Travis,Hydro Maint Wkr I-Gen,27.12
1964,City Light,Zimmermann,Elliott,"Enrgy Mgmt Anlyst,Sr",51.65
1965,City Light,Zitkovich,Andrew,Rights-Of-Way Maint Wkr,29.88
1966,City Light,Zook,Katie,"Mgmt Systs Anlyst,Asst",31.93

##### Apply the describe method to the DataFrame -- 'City_Lights_employees'. Index on 'Job Title'

In [40]:
City_Light_employees['Job Title'].describe()

count      1850
unique      328
top       Lnwkr
freq        118
Name: Job Title, dtype: object

### Question -- What is the average hourly salary earned at City Light?

##### From the 'City_Light_employees' DataFrame index on 'Hourly Rate '. Apply the method -- mean() to find the average salary. Save that output to a variable called -- 'avg_City_Light_rate'

In [43]:
avg_City_Light_rate = City_Light_employees['Hourly Rate '].mean()

In [44]:
avg_City_Light_rate

42.45069729729696

### Question -- How much more does the highest earning gov worker earn than the average City Light employee?

In [45]:
highest_wage - avg_City_Light_rate

124.45930270270304

### Question -- How many other departments are there?

##### From the wages DataFrame index on 'Departments'. Apply the method -- describe().

In [46]:
wages['Department'].describe()

count                 12346
unique                   36
top       Police Department
freq                   1966
Name: Department, dtype: object

### Question -- How many positions are there in the Police Department? Which one earned the most and the least?

##### From the wages DataFrame boolean index on 'Police Department'. Save the output to a variable called -- 'Police_Dept_employees'

In [50]:
Police_Dept_employees = wages[wages['Department'] == 'Police Department']

In [51]:
Police_Dept_employees

,Department,Last Name,First Name,Job Title,Hourly Rate
6110,Police Department,Aagard,Lori,Pol Sgt-Patrl,56.19
6111,Police Department,Aakervik,Dag,Pol Ofcr-Detective,50.38
6112,Police Department,Abdi,Habtamu,"StratAdvsr2,Exempt",49.03
6113,Police Department,Abed,George,Pol Ofcr-Patrl,48.86
6114,Police Department,Abraha,Ytbarek,Parking Enf Ofcr,29.89
6115,Police Department,Abts-Olsen,Nicolas,Pol Ofcr,38.60
6116,Police Department,Acuesta,Audi,Pol Ofcr-Patrl,44.95
6117,Police Department,Adams,David,Pol Ofcr-Patrl,44.95
6118,Police Department,Adams,Jacob,Pol Comms Dispatcher Supv,44.85
6119,Police Department,Adams,Kyle,Parking Enf Ofcr,27.00
6120,Police Department,Addae,Jabari,Pol Ofcr,38.60
6121,Police Department,Agate,Clayton,Pol Ofcr-Patrl,48.86
6122,Police Department,Aguirre,Daniel,Pol Ofcr,37.18
6123,Police Department,Ahlstrom,Peter,"Manager2,General Govt",59.77
6124,Police Department,Akerstrom,Jamie,Parking Enf Ofcr,29.89
6125,Police Department,Akiyama,Emily,Pol Ofcr,38.60
6126,Police Department,Albright,Jennifer,"StratAdvsr2,CL&PS",57.43
6127,Police Department,Alcantara,Lora,Pol Sgt-Patrl,56.69
6128,Police Department,Alcayaga,Isabelo,Video Spec II,39.40
6129,Police Department,Allen,David,Pol Ofcr,37.18
6130,Police Department,Allen,John,Pol Ofcr-Patrl,46.68
6131,Police Department,Allen,Leland,Pol Ofcr,37.18
6132,Police Department,Allen,Matthew,Pol Lieut,70.52
6133,Police Department,Allen Jr,Erik,Pol Sgt-Detective,56.94
6134,Police Department,Alpaugh,Nicholas,Pol Ofcr- Student,33.16
6135,Police Department,Alstrin,Kurt,Pol Ofcr-Patrl,46.68
6136,Police Department,Alton,Adrienne,Parking Enf Ofcr,29.89
6137,Police Department,Alvord,Jason,Pol Ofcr,38.60
6138,Police Department,Amberg,Mary,Crime Prev Coord,32.55
6139,Police Department,Anderson,Carl,Pol Ofcr-SWAT,47.33
...,...,...,...,...,...
8047,Police Department,Wubbena,Mark,Pol Ofcr-Patrl,51.03
8048,Police Department,Wyatt,Bruce,Equip&Facilities Coord,37.94
8049,Police Department,Yahia,Michael,Pol Ofcr,38.60
8050,Police Department,Yama,Shane,Pol Ofcr-Patrl,46.68
8051,Police Department,Yamamoto,Edward,Pol Sgt-Diver,59.44
8052,Police Department,Yamamoto,Martin,"Manager2,Fin,Bud,&Actg",48.23
8053,Police Department,Yamashita,Hiro,Pol Ofcr-Detective,50.38
8054,Police Department,Yasutake,Michael,Parking Enf Ofcr,29.89
8055,Police Department,Ybarra,Kimberly,Pol Comms Dispatcher I,30.65
8056,Police Department,Yee,Gene,Parking Enf Ofcr,29.89
8057,Police Department,Yonkers,Gregory,Pol Recruit,28.21
8058,Police Department,Yoon,Thomas,Pol Lieut,62.48
8059,Police Department,Yorio,James,Pol Ofcr-Diver,50.81
8060,Police Department,Young,Christopher,Pol Ofcr-Detective,48.64
8061,Police Department,Young Jr,Jonathan,Pol Ofcr-DWI-Am/Pm Enf,48.42
8062,Police Department,Yuen,Mae,"Pol Comms Dispatcher,Chief",43.95
8063,Police Department,Yurin,Marina,Pol Comms Dispatcher I,27.41
8064,Police Department,Zajchowski,Nicholas,"StratAdvsr2,Exempt",59.45
8065,Police Department,Zech,Noah,Pol Ofcr-SWAT,47.33
8066,Police Department,Zech,Roxanne,Pol Ofcr,37.18
8067,Police Department,Zentner,Chad,Pol Ofcr-SWAT,49.94
8068,Police Department,Zerr,Eric,Pol Sgt-Patrl,57.69
8069,Police Department,Zieger,Kerry,Pol Ofcr-Patrl,48.86
8070,Police Department,Zielke,Steven,Pol Comms Dispatcher III,40.06
8071,Police Department,Ziemer,Joshua,Pol Sgt-Patrl,56.19
8072,Police Department,Zuray,Joshua,Pol Ofcr,35.56
8073,Police Department,Zurcher,Richard,Pol Ofcr-Patrl,49.29
8074,Police Department,Zwaschka,Andrew,Pol Sgt-Patrl,53.70
8075,Police Department,Zwerling,Fabienne,Admin Spec II-BU,25.39
8076,Police Department,Zylak,Carl,Pol Ofcr-Canine,49.94

#####  From the 'Police_Dept_employees' DataFrame, index on 'Job Title'. Use the describe method to get descriptive stats on the column, including how many unique values were there.

In [52]:
Police_Dept_employees['Job Title'].describe()

count               1966
unique               127
top       Pol Ofcr-Patrl
freq                 498
Name: Job Title, dtype: object

##### From the 'Police_Dept_employees' DataFrame index on the 'Hourly Rate ' column and apply the describe method.

In [54]:
Police_Dept_employees['Hourly Rate '].describe()

count    1966.000000
mean       43.954639
std        11.697764
min        16.120000
25%        35.560000
50%        44.950000
75%        49.510000
max       127.680000
Name: Hourly Rate , dtype: float64

##### From the 'Police_Dept_employees' DataFrame, use boolean indexing to find who is earning the most money at the Police Department

In [59]:
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == Police_Dept_employees['Hourly Rate '].max()]

,Department,Last Name,First Name,Job Title,Hourly Rate
7486,Police Department,OToole,Kathleen,Seattle Police Chief,127.68

##### From the 'Police_Dept_employees' DataFrame, use boolean indexing to find who is earning the least money at the Police Department

In [60]:
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == Police_Dept_employees['Hourly Rate '].min()]

,Department,Last Name,First Name,Job Title,Hourly Rate
6192,Police Department,Bani Yaseen,Aissar,Cooperative Intern *,16.12

## Pivot Tables

##### Generate a pivot table -- index on Department and Job Title, use Hourly Rate for the value(s). Save pivot table to varaible called 'wages_pivot'

##### Index the pivot table for jobs and the hourly rates in the Arts and Culture department. Save the output to a variable.

In [ ]:
wages_pivot[wages_pivot.index.get_level_values('Department') == 'Arts and Culture']

In [62]:
ArtsAndCulture = wages_pivot[wages_pivot.index.get_level_values('Department') == 'Arts and Culture']

##### Index the pivot table for jobs and the hourly rates in the City Light department. Save the output to a variable.

## Graphing

##### How many people work in the Arts and Culture department?

In [ ]:
ArtsAndCulture['Hourly Rate '].count()

##### Generate a histgram of the wages of employees in the Arts and Culture department.

In [ ]:
ArtsAndCulture.hist()

##### How many people work in the City Light department?

##### Generate a histgram of the wages of employees in the City Light department.

## Exporting

##### Find the present working directory.

##### Export the data in an excel file. The file will be saved in the present working directory.

In [ ]:
CityLight.to_excel('PythonPandasOutput.xlsx', sheet_name='Analysis')